 *{
  box-sizing: border-box;
}
div {
  display: block;
}

body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  width:100%;
  padding-left:1rem;
  padding-right:1rem;  
  margin: 0 auto;
  text-align:center;
  overflow: hidden;
  /* CSS Smooth Scroll */
  /* overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
}
/* adding snaping effect need */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

/* video */
.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width: 100%;
}
/*  overlay for header */
.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1;
  background:#4a575f;
  opacity:0.45;
}

.header-content{
  z-index:1;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}
/* section  */
.section{
  padding:20px 0;
}

section.section.section-a h2{
  font-size: 4rem;
}
section.section.section-a p{
  width: 50vw;
  position: relative;
  left: 25%;
  font-size: 20px;
  height: auto;
}
.section-b{
  background:#333;
  color:#fff;
}
.line {
  width: 35px;
  height: 4px;
  background: white;
  margin: 3px;
  z-index:1;
}

.nav-btn {
  display:flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  top:1%;
  right:1%;
  

}
.nav-btn a:hover {
  background-color: black;

}


/* side nav */
.side-nav{
  height:100%;
  width:0;
  position: absolute;
  z-index:2;
  top:0;
  right:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}
footer {
  display: flex;
  justify-content: center;
}
/* Carousel */
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* margin-top: 16px; */
}
@media (min-width: 1200px) {
  .carousel {
    width: 100vw;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel img {
  width: 100%;
  display: none;
}
/* mhhhhm */
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .carousel {
    height: 100vh;
  }
  .carousel img {
    height: 100vh;
  }
 }
 
@media all and (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    height: 100vh;
  }
  .carousel img {
    height: 100vh;
  }
 }
@media all and (min-width: 480px) and (max-width: 768px) { 
  section.section.section-a p {
    font-size: 18px;
  }
  .carousel {
    height: 100vh;
  }
  .carousel img {
    height: 100vh;
  }
}
 
@media all and (max-width: 480px) {
  .carousel {
    height: 100vh;
  }
  .carousel img {
    height: 100vh;
  }
/* section */
  section.section.section-a p {
    font-size: 18px;
  }
 }

  